.circle {
    position: relative;
    background-color: #FBFBFB;
    border-radius: 0.4rem;
    height: 152px;
    padding: 2rem;

    .circleProgress {
        border-radius: 10rem;
        box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.10);
    }

    .text {
        position: absolute;
        top: 1px;
        left: 1.5rem;
        font-weight: bolder;
        font-size: 0.9rem;
    }

    svg {
        width: 150px;
    }

    .pourcentage {
        font-weight: bold;
        font-size: 1.3rem;
    }
    
}