.blocInfos {
    display: flex;
    .charts {
        .bloc1{
            margin-bottom: 2rem;
            background-color: #FBFBFB;
        }
    
        .bloc2 {
            display: flex;
        }
    }

    .aside {
        padding-left: 2rem;
    }
}