.error {
    display: flex;
    flex-direction: column;
    text-align: center;

    .error404 {
        width: 50%;
        margin: auto;
        padding-bottom: 5rem;
        padding-top: 10rem;
    }

    .messageError {
        font-size: 3rem;
        padding-bottom: 10rem;
        color: #FF6060;
    }

    .backHome {
        color: #FF6060;
        font-size: 1.2rem;
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    .messageError {
        font-size:2rem !important;
    }
}

@media screen and (max-width: 700px) {
    .messageError {
        font-size:1.5rem !important;
    }
}