.blocInfos {
    display: flex;
    // width: 150px;
    .charts {
        // align-self: center;
        width: 75%;
        .bloc1{
            margin-bottom: 1.5rem;
            background-color: #FBFBFB;
        }
    
        .bloc2 {
            display: flex;
            justify-content: space-between;
        }
    }

    .aside {
        padding-left: 2rem;
    }
}